<!-- Footer -->
<footer id="footer">
    <div class="container">
      <h5 class="capitalize align-center">Interventional Studies in Aging Center</h5>
      <h5 class="capitalize align-center">Institute for Aging Research, Hebrew SeniorLife</h5>
      <h5 class="capitalize align-center">1200 Centre St., Boston, MA 02131</h5>
      <ul class="copyright">
          <li>&copy; Institute for Aging Research, 2016 </li>
          <li>Design Template: <a href="http://templated.co">TEMPLATED</a></li>
          <li>Photo: Hao Zhu</li>
      </ul>
    </div>
</footer>
<script src="/js/smoothscroll.js"></script>
