<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <h1><a href="{{ site.baseurl }}/" class="site-title" style="text-transform: capitalize;"><i class="icon-hsl"></i> ISAC at IFAR - Interventional Studies in Aging Center</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="#banner">Home</a></li>
            <li><a href="#isac_intro">About Us</a></li>
            <li><a href="#first_step">Getting Started</a></li>
            <li><a href="#team">Our Team</a></li>
            <li><a href="mailto:trials@hsl.harvard.edu, ElaineBergman@hsl.harvard.edu"  target="_blank" class="button special">Contact Us</a></li>
        </ul>
    </nav>
</header>
