<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <img src="images/book/pm2.png" alt="" />
        <section id="banner">
            <div class="inner">
                <h3>ISAC: The Interventional Studies</h3>
                <h3>in Aging Center</h3>
                <h5></h5>
                <h5>At</h5>
                <h3>the Hebrew SeniorLife Institute for Aging Research</h3>
                <h3>Boston, MA, USA</h3>
                <ul class="actions">
                    <li><a href="#isac_intro" class="button big alt"><i class="fa fa-angle-double-down"></i> Learn More</a></li>
                </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
